@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
}
.body-fixed{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body,html{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

.site-header{
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.site-header.sticky_head{
    background: rgb(255 255 255/ 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);

}

.main-navigation{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    
}
.main-navigation .menu li{
    display: inline-block;
    position: relative;
    margin: 0 6px;
}
.main-navigation .menu li:first-child{
    margin-left: 0;
}
.main-navigation .menu li:last-child{
    margin-right: 0;
}
.main-navigation .menu li:hover>ul,
.main-navigation .menu li.focus>ul{
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
    left: auto;
}
a{
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navigation .menu ul a{
    width: 200px;
}

.main-navigation .menu li a{
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover, .main-navigation .menu li .active-menu,
.main-navigation .menu .sub-menu li .active-sub-menu{
    color: #ff8243;
    background: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2,inset -8px -8px 12px #ffffff;
}

.header-right{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.header-btn{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 8px #e2e2e2,inset -6px -6px 7px #ffffff;
    align-items: center;
}
.cart-number{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    color: #ff8243;
}
.header-btn:hover{
    background: linear-gradient(145deg,#dcdcdc,#ffffff);
    box-shadow: 20px 20px 60px #cfcfd0,-20px -20px 60px #ffffff;

}

.header-search-form{
    position: relative;
}
.for-des{
    display: block !important;
}

.header-search-form button{
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;

}

.header-search-form .form-input{
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}
.form-input::placeholder{
    color: rgba(70 69 71/0.7);
}
.form-input{
    width: 100%;
    height: 50px;
    outline: none !important;
    padding: 10px 15px;
    color: #0d0d25;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada,inset -6px -6px 8px #ffffff;

}
*{
    -webkit-tap-highlight-color: transparent;

}
.uil{
    color: #ff8243;
}